WebService/wsServicos/web/web-inf/wsdl/localhost_8084/wsServicos/ClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.servicos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.servicos/" name="ClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.servicos/" schemaLocation="http://localhost:8084/wsServicos/ClienteService?xsd=1" />
</xsd:schema>
</types>
<message name="getToken">
<part name="parameters" element="tns:getToken" />
</message>
<message name="getTokenResponse">
<part name="parameters" element="tns:getTokenResponse" />
</message>
<message name="findClienteByName">
<part name="parameters" element="tns:findClienteByName" />
</message>
<message name="findClienteByNameResponse">
<part name="parameters" element="tns:findClienteByNameResponse" />
</message>
<message name="validaToken">
<part name="parameters" element="tns:validaToken" />
</message>
<message name="validaTokenResponse">
<part name="parameters" element="tns:validaTokenResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="ClienteService">
<operation name="getToken">
<input wsam:Action="http://soap.ws.servicos/ClienteService/getTokenRequest" message="tns:getToken" />
<output wsam:Action="http://soap.ws.servicos/ClienteService/getTokenResponse" message="tns:getTokenResponse" />
</operation>
<operation name="findClienteByName">
<input wsam:Action="http://soap.ws.servicos/ClienteService/findClienteByNameRequest" message="tns:findClienteByName" />
<output wsam:Action="http://soap.ws.servicos/ClienteService/findClienteByNameResponse" message="tns:findClienteByNameResponse" />
</operation>
<operation name="validaToken">
<input wsam:Action="http://soap.ws.servicos/ClienteService/validaTokenRequest" message="tns:validaToken" />
<output wsam:Action="http://soap.ws.servicos/ClienteService/validaTokenResponse" message="tns:validaTokenResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://soap.ws.servicos/ClienteService/helloRequest" message="tns:hello" />
<output wsam:Action="http://soap.ws.servicos/ClienteService/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="ClienteServicePortBinding" type="tns:ClienteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getToken">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findClienteByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validaToken">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ClienteService">
<port name="ClienteServicePort" binding="tns:ClienteServicePortBinding">
<soap:address location="http://localhost:8084/wsServicos/ClienteService" />
</port>
</service>
</definitions>