WebService/wsServicos/web/web-inf/wsdl/localhost_8084/wsServicos/ClienteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.ws.servicos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.servicos/">

<xs:element name="findClienteByName" type="tns:findClienteByName" />

<xs:element name="findClienteByNameResponse" type="tns:findClienteByNameResponse" />

<xs:element name="getToken" type="tns:getToken" />

<xs:element name="getTokenResponse" type="tns:getTokenResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="validaToken" type="tns:validaToken" />

<xs:element name="validaTokenResponse" type="tns:validaTokenResponse" />

<xs:complexType name="getToken">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="senha" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTokenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaToken">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaTokenResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteByName">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="cidade" type="tns:cidade" minOccurs="0" />
<xs:element name="dataAssociacao" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="idade" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="valorMensalidade" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cidade">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>